-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: karuta_tracker
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `match_pairings`
--

DROP TABLE IF EXISTS `match_pairings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `match_pairings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `created_by` bigint NOT NULL,
  `match_number` int NOT NULL,
  `player1_id` bigint NOT NULL,
  `player2_id` bigint NOT NULL,
  `session_date` date NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_pairings`
--

LOCK TABLES `match_pairings` WRITE;
/*!40000 ALTER TABLE `match_pairings` DISABLE KEYS */;
/*!40000 ALTER TABLE `match_pairings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matches`
--

DROP TABLE IF EXISTS `matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `created_by` bigint NOT NULL,
  `match_date` date NOT NULL,
  `match_number` int NOT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `opponent_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `player1_id` bigint NOT NULL,
  `player2_id` bigint NOT NULL,
  `score_difference` int NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `updated_by` bigint NOT NULL,
  `winner_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_matches_date` (`match_date`),
  KEY `idx_matches_date_player1` (`match_date`,`player1_id`),
  KEY `idx_matches_date_player2` (`match_date`,`player2_id`),
  KEY `idx_matches_winner` (`winner_id`),
  KEY `idx_matches_date_match_number` (`match_date`,`match_number`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matches`
--

LOCK TABLES `matches` WRITE;
/*!40000 ALTER TABLE `matches` DISABLE KEYS */;
/*!40000 ALTER TABLE `matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_profiles`
--

DROP TABLE IF EXISTS `player_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_profiles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `dan` enum('荳・,'荳・,'莠・,'莠・,'蜈ｫ','蜈ｭ','蛻・,'蝗・,'辟｡') COLLATE utf8mb4_unicode_ci NOT NULL,
  `grade` enum('A','B','C','D','E') COLLATE utf8mb4_unicode_ci NOT NULL,
  `karuta_club` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `player_id` bigint NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `valid_from` date NOT NULL,
  `valid_to` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_player_date` (`player_id`,`valid_from`,`valid_to`),
  KEY `idx_valid_to` (`valid_to`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_profiles`
--

LOCK TABLES `player_profiles` WRITE;
/*!40000 ALTER TABLE `player_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `players` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `dominant_hand` enum('荳｡','蜿ｳ','蟾ｦ') COLLATE utf8mb4_unicode_ci NOT NULL,
  `gender` enum('縺昴・莉・,'螂ｳ諤ｧ','逕ｷ諤ｧ') COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('ADMIN','PLAYER','SUPER_ADMIN') COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `dan_rank` enum('荳・ｮｵ','莠疲ｮｵ','蜈ｫ谿ｵ','蜈ｭ谿ｵ','蛻晄ｮｵ','蜿よｮｵ','蝗帶ｮｵ','蠑先ｮｵ','辟｡谿ｵ') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `karuta_club` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kyu_rank` enum('A邏・,'B邏・,'C邏・,'D邏・,'E邏・) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKpblmuavgrnr991e41662asko` (`name`),
  KEY `idx_name_active` (`name`,`deleted_at`),
  KEY `idx_deleted_at` (`deleted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practice_participants`
--

DROP TABLE IF EXISTS `practice_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `practice_participants` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `player_id` bigint NOT NULL,
  `session_id` bigint NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `match_number` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_session_player_match` (`session_id`,`player_id`,`match_number`),
  KEY `idx_participant_session` (`session_id`),
  KEY `idx_participant_player` (`player_id`)
) ENGINE=InnoDB AUTO_INCREMENT=779 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practice_participants`
--

LOCK TABLES `practice_participants` WRITE;
/*!40000 ALTER TABLE `practice_participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `practice_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practice_sessions`
--

DROP TABLE IF EXISTS `practice_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `practice_sessions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `created_by` bigint NOT NULL,
  `location` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `session_date` date NOT NULL,
  `total_matches` int NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `updated_by` bigint NOT NULL,
  `capacity` int DEFAULT NULL,
  `end_time` time(6) DEFAULT NULL,
  `start_time` time(6) DEFAULT NULL,
  `venue_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKm60bbd1y9qs46eirlu5c2udhh` (`session_date`),
  KEY `idx_session_date` (`session_date`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practice_sessions`
--

LOCK TABLES `practice_sessions` WRITE;
/*!40000 ALTER TABLE `practice_sessions` DISABLE KEYS */;
INSERT INTO `practice_sessions` VALUES (1,'2025-11-09 23:24:51.517122',1,'譚ｱ蛹ｺ豌代そ繝ｳ繧ｿ繝ｼ','','2025-11-13',10,'2025-11-09 23:24:51.517122',1,NULL,NULL,NULL,NULL),(2,'2025-11-09 23:35:22.377201',1,'譚ｱ蛹ｺ豌代そ繝ｳ繧ｿ繝ｼ','','2025-11-09',10,'2025-11-09 23:35:22.377201',1,NULL,NULL,NULL,NULL),(3,'2025-11-10 07:41:32.915628',1,'譚ｱ蛹ｺ豌代そ繝ｳ繧ｿ繝ｼ','','2025-11-10',10,'2025-11-10 07:41:32.915628',1,NULL,NULL,NULL,NULL),(9,'2025-11-11 12:08:03.222644',1,'Test Location','Test','2025-11-18',5,'2025-11-11 12:08:03.222644',1,NULL,NULL,NULL,NULL),(10,'2025-11-11 12:08:44.772666',1,'譚ｱ蛹ｺ豌代そ繝ｳ繧ｿ繝ｼ','','2025-11-19',2,'2025-11-11 12:08:44.772666',1,NULL,NULL,NULL,NULL),(11,'2025-11-11 12:12:29.385013',1,'Test Location','No participants test','2025-11-20',5,'2025-11-11 12:12:29.385013',1,NULL,NULL,NULL,NULL),(12,'2025-11-11 12:15:43.266707',1,'譚ｱ蛹ｺ豌代そ繝ｳ繧ｿ繝ｼ','','2025-11-28',4,'2025-11-11 12:15:43.267252',1,NULL,NULL,NULL,NULL),(13,'2025-11-12 08:30:07.816610',1,NULL,NULL,'2025-12-01',5,'2025-11-12 08:30:07.816610',1,NULL,NULL,NULL,NULL),(14,'2025-11-13 12:04:20.982528',1,'譚ｱ蛹ｺ豌代そ繝ｳ繧ｿ繝ｼ','','2025-11-15',2,'2025-11-13 12:04:20.982528',1,NULL,NULL,NULL,NULL),(15,'2025-11-17 12:01:39.161383',1,'譚ｱ蛹ｺ豌代そ繝ｳ繧ｿ繝ｼ','','2025-11-17',3,'2025-11-17 12:01:39.161383',1,NULL,NULL,NULL,NULL),(16,'2025-11-19 00:27:58.333912',1,'縺ゅ°縺ｪ繧・,'','2025-11-23',4,'2025-11-19 00:27:58.333912',1,NULL,NULL,NULL,NULL),(17,'2025-11-19 00:28:21.246106',1,'繧ｯ繝ｩ鬢ｨ','','2025-11-24',7,'2025-11-19 00:28:21.246106',1,NULL,NULL,NULL,NULL),(18,'2025-11-21 12:18:33.076569',1,NULL,'','2025-11-21',7,'2025-11-21 12:18:33.076569',1,NULL,NULL,NULL,3),(19,'2025-11-21 12:36:41.971900',1,NULL,'','2025-11-22',7,'2025-11-21 12:36:41.971900',1,NULL,NULL,NULL,3),(20,'2025-11-21 12:40:05.188398',1,NULL,'','2025-11-07',7,'2025-11-21 12:40:05.188398',1,NULL,NULL,NULL,3),(21,'2025-12-04 12:24:12.876639',1,NULL,'','2025-12-04',7,'2025-12-04 12:24:12.877183',1,NULL,NULL,NULL,3),(22,'2025-12-19 12:43:13.052330',1,NULL,'','2025-12-20',6,'2025-12-19 12:43:13.052330',1,NULL,NULL,NULL,4),(23,'2025-12-19 12:43:31.901334',1,NULL,'','2025-12-21',3,'2025-12-19 12:43:31.901334',1,NULL,NULL,NULL,5),(24,'2026-01-01 22:15:31.015057',1,NULL,'','2026-01-01',7,'2026-01-01 22:15:31.015057',1,NULL,NULL,NULL,3),(25,'2026-01-02 17:44:45.152048',1,NULL,'','2026-01-02',7,'2026-01-02 17:44:45.152048',1,NULL,NULL,NULL,3);
/*!40000 ALTER TABLE `practice_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venue_match_schedules`
--

DROP TABLE IF EXISTS `venue_match_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venue_match_schedules` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `end_time` time(6) NOT NULL,
  `match_number` int NOT NULL,
  `start_time` time(6) NOT NULL,
  `venue_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_venue_match` (`venue_id`,`match_number`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venue_match_schedules`
--

LOCK TABLES `venue_match_schedules` WRITE;
/*!40000 ALTER TABLE `venue_match_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `venue_match_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venues`
--

DROP TABLE IF EXISTS `venues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venues` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `default_match_count` int NOT NULL,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKc2om8hy3unm9k7dxwddow2rv1` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venues`
--

LOCK TABLES `venues` WRITE;
/*!40000 ALTER TABLE `venues` DISABLE KEYS */;
INSERT INTO `venues` VALUES (2,'2025-11-20 20:33:35.934319',3,'譚ｱ蛹ｺ豌代そ繝ｳ繧ｿ繝ｼ','2025-11-20 20:37:30.093797'),(3,'2025-11-20 20:33:53.629531',7,'繧ｯ繝ｩ繝ｼ繧ｯ莨夐､ｨ','2025-11-21 12:09:07.717976'),(4,'2025-12-19 12:41:52.321264',6,'螳壼ｱｱ貂灘粋螳ｿ1譌･逶ｮ','2025-12-19 12:41:52.321264'),(5,'2025-12-19 12:42:49.146620',3,'螳壼ｱｱ貂灘粋螳ｿ2譌･逶ｮ','2025-12-19 12:42:49.146620');
/*!40000 ALTER TABLE `venues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'karuta_tracker'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-07 18:05:28
